.inputAndLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11px;


  .serch_input {
    padding-left: 3px   ;
  }

 
}


.pokemons {
    display: grid; 
    grid-template-columns: repeat(5, 2fr);
    gap:20px;
    height: 90vh;
    background-color: aquamarine;
    div{
      display: flex;
      flex-direction: column;
      width: 180px;
      height: 180px ;
    }
}

.main_container{
  height: 100%;
}

.content_container{
  height: 100vh;
}

.imgOnHome{
  height: 80%;
  width: 80%;
}